<!DOCTYPE html>
<html>

<head>
    <title>THUS | mobile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/mobile.css">
    <link href='/assets/thusicon.ico' rel='shortcut icon'>
</head>

<body scroll="no">

    <h2 style="display:none;" id="session"><%= session %></h2>
  
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/mobile/mobile.js"></script>
    <script src="/javascripts/mobile/logic.js"></script>
    <script src="/javascripts/p5/p5.min.js"></script>
    <script src="/javascripts/p5/p5.dom.min.js"></script>
    <script src="/javascripts/p5/p5.sound.min.js"></script>
</body>
</html>